/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin: 20px auto;
}

#form-section{
    width: 500px;
    margin: 20px auto;
}

.form {
    background-color: #eee;
    border-radius: 6px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
}

#todo-form .form{
    padding: 20px;
}
.input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    flex: 1;
}
.input:focus , .add:focus{
    outline: none;
}
.add, .cancel {
    border: none;
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 10px;
}
.cancel {
    background-color: #f44336;
}
.add {
    background-color: #365cf4;
}
.tasks {
    background-color: #eee;
    margin-top: 20px 0px;
    border-radius: 6px;
    padding: 15px;
    width: 30%;
}
.tasks .task {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #ccc;
}
.tasks .task:not(:last-child) {
    margin-bottom: 15px;
}
.tasks .task:hover {
    background-color: #f7f7f7;
}
.tasks .task.done {
    opacity: 0.5;
    position: relative;
}
.task.done::after {
    position: absolute;
    content: "";
}
.tasks .task button, .status{ 
    font-weight: bold;
    font-size: 10px;
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.draft{
    background-color: #7c4d4d;
}
.tasks .task a{text-decoration: none;}
.delete-all {
    width: calc(100% - 25px);
    margin: auto;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: #f44336;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
}

.action-links{
    display: flex;
    list-style: none;
    margin: 2px;
}

.action-links li{
    margin-left: 10px;
}
.flex{display: flex;}
.space-between{justify-content: space-between;}
.space-around{justify-content: space-around;}
.status.completed{
    background-color: #bebebe;
}
.status.inprogress{
    background-color: #2cb518;
}

